bitrix/Gulin.kz. bitrix_deal_status_workflow.yml
app:
  description: Рабочий процесс для получения информации о сделке. Инструкции и другие
    боты на сайте https://gulin.kz
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Gulin.kz. bitrix_deal_status
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/json_process:0.0.2@7afb534cc85b28a8e9c7f9410d1cfc31fb7bd3950023355a37059dbe809ac776
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1746272993533-source-1746273044531-target
      source: '1746272993533'
      sourceHandle: source
      target: '1746273044531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1746325803912-source-1746273116421-target
      source: '1746325803912'
      sourceHandle: source
      target: '1746273116421'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: if-else
      id: 1746273044531-source-1746326775848-target
      source: '1746273044531'
      sourceHandle: source
      target: '1746326775848'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1746326775848-true-1746325803912-target
      source: '1746326775848'
      sourceHandle: 'true'
      target: '1746325803912'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1746326775848-false-1746327034027-target
      source: '1746326775848'
      sourceHandle: 'false'
      target: '1746327034027'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: deal_id
          max_length: 48
          options: []
          required: true
          type: number
          variable: deal_id
        - label: bitrix_url
          max_length: 250
          options: []
          required: true
          type: text-input
          variable: bitrix_url
      height: 115
      id: '1746272993533'
      position:
        x: 30
        y: 280.5
      positionAbsolute:
        x: 30
        y: 280.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: '{{#1746272993533.bitrix_url#}}crm.deal.get.json?id={{#1746272993533.deal_id#}}'
        variables: []
      height: 159
      id: '1746273044531'
      position:
        x: 334
        y: 280.5
      positionAbsolute:
        x: 334
        y: 280.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1746325803912'
          - text
          variable: json
        selected: false
        title: End
        type: end
      height: 89
      id: '1746273116421'
      position:
        x: 1270.3150681465766
        y: 149.83472445079838
      positionAbsolute:
        x: 1270.3150681465766
        y: 149.83472445079838
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: JSON data
            ja_JP: JSON data
            pt_BR: JSON数据
            zh_Hans: JSON数据
          label:
            en_US: JSON data
            ja_JP: JSON data
            pt_BR: JSON data
            zh_Hans: JSON数据
          llm_description: JSON data to be processed
          max: null
          min: null
          name: content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: JSON fields to be parsed
            ja_JP: JSON fields to be parsed
            pt_BR: JSON fields to be parsed
            zh_Hans: 需要解析的 JSON 字段
          label:
            en_US: JSON filter
            ja_JP: JSON filter
            pt_BR: JSON filter
            zh_Hans: JSON解析对象
          llm_description: JSON fields to be parsed
          max: null
          min: null
          name: json_filter
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 1
          form: form
          human_description:
            en_US: Ensure the JSON output is ASCII encoded
            ja_JP: Ensure the JSON output is ASCII encoded
            pt_BR: Ensure the JSON output is ASCII encoded
            zh_Hans: 确保输出的 JSON 是 ASCII 编码
          label:
            en_US: Ensure ASCII
            ja_JP: Ensure ASCII
            pt_BR: Ensure ASCII
            zh_Hans: 确保 ASCII
          llm_description: ''
          max: null
          min: null
          name: ensure_ascii
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        params:
          content: ''
          ensure_ascii: ''
          json_filter: ''
        provider_id: langgenius/json_process/json_process
        provider_name: langgenius/json_process/json_process
        provider_type: builtin
        selected: false
        title: JSON Parse
        tool_configurations:
          ensure_ascii: 1
        tool_description: A tool for extracting JSON objects
        tool_label: JSON Parse
        tool_name: parse
        tool_parameters:
          content:
            type: mixed
            value: '{{#1746273044531.body#}}'
          json_filter:
            type: mixed
            value: result.STAGE_ID
        type: tool
      height: 89
      id: '1746325803912'
      position:
        x: 923.9499703710535
        y: 149.83472445079838
      positionAbsolute:
        x: 923.9499703710535
        y: 149.83472445079838
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 17b7038a-126e-4d1d-b73d-4e0904eb5b09
            value: '200'
            varType: number
            variable_selector:
            - '1746273044531'
            - status_code
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 125
      id: '1746326775848'
      position:
        x: 639.4050029628945
        y: 280.5
      positionAbsolute:
        x: 639.4050029628945
        y: 280.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1746273044531'
          - body
          variable: body
        selected: false
        title: End 2
        type: end
      height: 89
      id: '1746327034027'
      position:
        x: 952.0500296289463
        y: 386.01995259368573
      positionAbsolute:
        x: 952.0500296289463
        y: 386.01995259368573
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 104.38638216171034
      y: 200.18376182608006
      zoom: 0.7117422713043692
